/* Добавление шрифта */
@font-face {
  font-family: "TT Lakes Regular";
  src: url(fonts/TTLakes/Regular/TTLakes-Regular.eot);
  src: url(fonts/TTLakes/Regular/TTLakes-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/TTLakes/Regular/TTLakes-Regular.woff) format("woff"),
    url(fonts/TTLakes/Regular/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Bold";
  src: url(fonts/TTLakes/Bold/TTLakes-Bold.eot);
  src: url(fonts/TTLakes/Bold/TTLakes-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/TTLakes/Bold/TTLakes-Bold.woff) format("woff"),
    url(fonts/TTLakes/Bold/TTLakes-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Medium";
  src: url(fonts/TTLakes/Medium/TTLakes-Medium.eot);
  src: url(fonts/TTLakes/Medium/TTLakes-Medium.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/TTLakes/Medium/TTLakes-Medium.woff) format("woff"),
    url(fonts/TTLakes/Medium/TTLakes-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-family: "TT Lakes Regular", Times, serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  min-height: 1024px;
  border: 1px dashed #ccc;
  font-weight:600;
}

.aside-header {
  background-color: #ffffff;
}

.aside-header__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 23px;
  margin-left: 23px;
}

.aside-header__left,
.aside-header__right {
  display: flex;
  flex: 0 1 auto;
  gap: 16px;
}

.icon {
  flex: 0 0 auto;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
}

.icon--middle {
  margin: auto 0;
}

.aside-header__left .icon:nth-child(2) {
  background-color: transparent;
  width: 98px;
  height: 52px;
}

.aside__bookmark-list {
  list-style-type: none;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 46px;
}

.bookmark {
  text-decoration: none;
  font-family: "TT Lakes Regular", Times, serif;
  font-size: 16px;
  line-height: 32px;
  color: #1B1C21;
}

.bookmark--focus {
  color: #7E7E82;
}

.bookmark--focus:before {
  content: "";
  display: block;
  position: absolute;
  left: -4px;
  width: 8px;
  height: 32px;
  border-radius: 10px;
  background-color: #41f6d7;
}

.aside-footer__contacts-section {
  display: flex;
}

.aside-footer__icons {
  display: flex;
}

.aside-footer__wrapper {
  padding-left: 24px;
}

.contacts__phone-number {
  font-family: "TT Lakes Bold", Times, serif;
  font-size: 24px;
}
