/* Добавление шрифта */
@font-face {
    font-family: "TT Lakes Regular";
    src: url(fonts/TTLakes/Regular/TTLakes-Regular.eot);
    src: url(fonts/TTLakes/Regular/TTLakes-Regular.eot?#iefix)
        format("embedded-opentype"),
      url(fonts/TTLakes/Regular/TTLakes-Regular.woff) format("woff"),
      url(fonts/TTLakes/Regular/TTLakes-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes Bold";
    src: url(fonts/TTLakes/Bold/TTLakes-Bold.eot);
    src: url(fonts/TTLakes/Bold/TTLakes-Bold.eot?#iefix)
        format("embedded-opentype"),
      url(fonts/TTLakes/Bold/TTLakes-Bold.woff) format("woff"),
      url(fonts/TTLakes/Bold/TTLakes-Bold.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes Medium";
    src: url(fonts/TTLakes/Medium/TTLakes-Medium.eot);
    src: url(fonts/TTLakes/Medium/TTLakes-Medium.eot?#iefix)
        format("embedded-opentype"),
      url(fonts/TTLakes/Medium/TTLakes-Medium.woff) format("woff"),
      url(fonts/TTLakes/Medium/TTLakes-Medium.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  html {
    box-sizing: border-box;
    font-family: "TT Lakes Regular", Times, serif;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body,
  html,
  h1,
  h2,
  p {
    margin: 0;
    padding: 0;
  }
  
  button {
    border: none;
    background-color: transparent;
  }
  
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .aside {
    display: flex;
    justify-content: space-between;
    width: 320px;
    min-height: 1024px;
    border: 1px dashed black;
  }
  
  .aside-menu {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 1px solid #d9fff5;
    width: auto;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .aside-menu__left,
.aside-menu__right {
  display: flex;
  flex: 0 1 auto;
}
  
  .icon {
    flex: 0 0 auto;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #ff3e79;
    border-radius: 50%;
  }

  .icon:nth-child(2) {
    background-color: transparent;
  }
  
  .title {
    display: flex;
  }
  
  .title__heading {
    font-family: "TT Lakes Bold";
    font-size: 28px;
    color: #1b1c21;
  }
  
  .title__heading:before {
    content: "";
    display: block;
    position: absolute;
    left: -4px;
    width: 8px;
    height: 40px;
    border-radius: 10px;
    background-color: #41f6d7;
  }
  
  .bookmark-menu {
    display: block;
  }
  
  .bookmark-menu__bookmark {
    font-family: "TT Lakes Regular", Times, serif;
    vertical-align: middle;
  }
  