/* Добавление шрифта */
@font-face {
  font-family: "TT Lakes Regular";
  src: url(/fonts/TTLakes/Regular/TTLakes-Regular.eot);
  src: url(/fonts/TTLakes/Regular/TTLakes-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(/fonts/TTLakes/Regular/TTLakes-Regular.woff) format("woff"),
    url(/fonts/TTLakes/Regular/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Bold";
  src: url(/fonts/TTLakes/Bold/TTLakes-Bold.eot);
  src: url(/fonts/TTLakes/Bold/TTLakes-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(/fonts/TTLakes/Bold/TTLakes-Bold.woff) format("woff"),
    url(/fonts/TTLakes/Bold/TTLakes-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Medium";
  src: url(/fonts/TTLakes/Medium/TTLakes-Medium.eot);
  src: url(/fonts/TTLakes/Medium/TTLakes-Medium.eot?#iefix)
      format("embedded-opentype"),
    url(/fonts/TTLakes/Medium/TTLakes-Medium.woff) format("woff"),
    url(/fonts/TTLakes/Medium/TTLakes-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-family: "TT Lakes Regular", Times, serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html,
h2,
p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
}

.upper-menu {
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #d9fff5;
  width: auto;
}

.icon {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
}

.upper-menu > .icon:nth-child(2) {
  width: 98px;
  height: 52px;
  background-color: transparent;
}

.icon-area > .icon,
.icon-era__text {
  display: none;
}

.svg-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upper-menu > .icon:nth-child(2)::before,
.upper-menu > .icon:nth-child(6)::before {
  content: "";
  display: block;
  border-radius: 5px;
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
}

.main {
  background-color: #f8f8f8;
  position: relative;
  width: auto;
}

.description__text {
  font-size: 14px;
  color: #1b1c21;
  overflow: hidden;
}

.title {
  display: flex;
}

.title__text {
  font-family: "TT Lakes Bold";
  font-size: 28px;
  color: #1b1c21;
}

.title__highlight {
  position: absolute;
  left: -4px;
  width: 8px;
  height: 40px;
  border-radius: 10px;
  background-color: #41f6d7;
}

.bookmark-menu {
  display: flex;
  overflow: scroll;
}

.bookmark {
  vertical-align: middle;
  padding-left: 1em;
  padding-right: 1em;
  height: 40px;
  border-radius: 6px;
  font-size: 16px;
  color: #7e7e82;
  white-space: nowrap;
  border: none;
  background-color: transparent;
}

.bookmark--focus {
  background-color: #ffffff;
  border: 2px solid #b8ffec;
}

.right-fade-effect {
  position: absolute;
  right: 0px;
  width: 24px;
  height: 40px;
  background: linear-gradient(
    to right,
    rgba(248, 248, 248, 0),
    rgba(248, 248, 248, 1)
  );
}

.description__text {
  font-weight: 500;
}

.toggler {
  display: flex;
}

.toggler__text {
  font-family: "TT Lakes Medium";
}

/* CSS ТЕЛЕФОНЫ */
@media (max-width: 767px) {
  
  .upper-menu {
    min-width: 320px;
    height: 88px;
  }

  .upper-menu > .icon:nth-child(3),
  .upper-menu > .icon:nth-child(4),
  .upper-menu > .icon:nth-child(5),
  .upper-menu > .icon:nth-child(2)::before,
  .icon-area__text {
    display: none;
  }

  .icon:first-child {}

  .upper-menu > .icon:nth-child(2) {}

  .upper-menu > .icon:nth-child(6)::before {}

  .upper-menu > .icon:nth-child(6),
  .upper-menu > .icon:nth-child(7) {}

  .main {
    min-width: 320px;
    height: 509px;
    padding-top: 24px;
    padding-left: 16px;
  }

  .bookmark-menu {}

  .description__text {
    width: 288px;
    height: 90px;
    line-height: 18px;
  }

  .toggler {}

  .main-image--size-tablet,
  .main-image--size-desktop {
    display: none;
  }

  .main-image--size-phone {
    position: absolute;
    left: 0;
  }
}

/* CSS ПЛАНШЕТЫ */
@media (min-width: 768px) and (max-width: 1120px) {
  .upper-menu {
    height: 88px;
  }

  .icon:first-child {}

  .upper-menu > .icon:nth-child(2)::before,
  .upper-menu > .icon:nth-child(6)::before {}

  .upper-menu > .icon:nth-child(2) {}

  .upper-menu > .icon:nth-child(6)::before {}

  .upper-menu > .icon:nth-child(3),
  .icon-chat,
  .upper-menu > .icon:nth-child(6) {}

  .upper-menu > .icon:nth-child(7) {}

  .main {
    height: 416px;
    padding-top: 24px;
    padding-left: 24px;
  }

  .page-content {
    display: flex;
  }

  .bookmark-menu {}

  .description {
    height: 208px;
  }

  .description__text {
    width: 312px;
    height: 160px;
    line-height: 20px;
  }

  .main-image--size-phone,
  .main-image--size-desktop,
  .icon-area__text {
    display: none;
  }

  .main-image--size-tablet {
    position: static;
    width: 360px;
    height: 208px;
    border-radius: 5px;
  }
}

/* CSS ДЕСКТОПЫ */
@media (min-width: 1121px) {
  .upper-menu,
  .right-fade-effect {
    display: none;
  }

  .icon {}

  .icon-area > .icon {
    display: block;
  }

  .icon-area {
    display: flex;
  }

  .icon-era__text {
    display: inline;
  }

  .title {}

  .title__text {}

  .bookmark-menu {
    display: block;
    overflow: auto;
  }

  .main {
    height: 535px;
    padding-top: 42px;
    padding-left: 34px;
  }

  .page-content {
    display: flex;
  }

  .description__text {
    width: 490px;
    height: 160px;
    line-height: 20px;
  }

  .main-image--size-phone,
  .main-image--size-tablet {
    display: none;
  }

  .main-image--size-desktop {
    position: static;
    width: 531.35px;
    height: 307px;
    border-radius: 5px;
  }
}
