/* Добавление шрифта */
@font-face {
  font-family: "TT Lakes Regular";
  src: url(/fonts/TTLakes/Regular/TTLakes-Regular.eot);
  src: url(/fonts/TTLakes/Regular/TTLakes-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(/fonts/TTLakes/Regular/TTLakes-Regular.woff) format("woff"),
    url(/fonts/TTLakes/Regular/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Bold";
  src: url(/fonts/TTLakes/Bold/TTLakes-Bold.eot);
  src: url(/fonts/TTLakes/Bold/TTLakes-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(/fonts/TTLakes/Bold/TTLakes-Bold.woff) format("woff"),
    url(/fonts/TTLakes/Bold/TTLakes-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Medium";
  src: url(/fonts/TTLakes/Medium/TTLakes-Medium.eot);
  src: url(/fonts/TTLakes/Medium/TTLakes-Medium.eot?#iefix)
      format("embedded-opentype"),
    url(/fonts/TTLakes/Medium/TTLakes-Medium.woff) format("woff"),
    url(/fonts/TTLakes/Medium/TTLakes-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-family: "TT Lakes Regular", Times, serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Обнуление отступов */
body,
html,
h2,
p {
  margin: 0;
  padding: 0;
}

.upper-menu {
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #d9fff5;
}

.icon-container,
.logo,
.divider {
  margin-top: auto;
  margin-bottom: auto;
}

.icon-container {
  position: relative;
}

.icon-container--pink {
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
}

.icon-container--logo {
  width: 98px;
  height: 52px;
}

.svg-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.divider {
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
}

.main {
  background-color: #f8f8f8;
  position: relative;
}

.description__text {
  font-size: 14px;
  color: #1b1c21;
  width: 288px;
  height: 90px;
  overflow: hidden;
  margin-bottom: 16px;
}

.title {
  display: flex;
  margin-bottom: 24px;
}

.title__text {
  font-family: "TT Lakes Bold";
  font-size: 28px;
  color: #1b1c21;
}

.title__highlight {
  position: absolute;
  left: -4px;
  width: 8px;
  height: 40px;
  border-radius: 10px;
  background-color: #41f6d7;
  margin-right: 12px;
}

.bookmark-menu {
  display: flex;
  overflow: scroll;
  margin-bottom: 1.5em;
}

.bookmark {
  vertical-align: middle;
  padding-left: 1em;
  padding-right: 1em;
  height: 40px;
  border-radius: 6px;
  font-size: 16px;
  color: #7e7e82;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  background-color: transparent;
}

.bookmark--active {
  background-color: #ffffff;
  border: 2px solid #b8ffec;
}

.right-fade-effect {
  position: absolute;
  right: 0px;
  width: 24px;
  height: 40px;
  background: linear-gradient(
    to right,
    rgba(248, 248, 248, 0),
    rgba(248, 248, 248, 1)
  );
}

.toggler {
  display: flex;
  margin-bottom: 16px;
}

.toggler__text {
  font-family: "TT Lakes Medium";
  margin-left: 0.5em;
  margin-top: auto;
  margin-bottom: auto;
}

.main-image {
  position: absolute;
}

/* CSS ТЕЛЕФОНЫ */
@media (max-width: 767px) {
  
  .upper-menu {
    width: 320px;
    height: 88px;
  }

  .icon-call,
  .icon-chat,
  .icon-profile,
  .divider--one {
    display: none;
  }

  .icon-burger {
    margin-left: 16px;
  }

  .icon-logo {
    margin-right: 16.73px;
    margin-left: 16.73px;
  }

  .divider--two {
    margin-right: 20px;
  }

  .icon-repair,
  .icon-checkStatus {
    margin-right: 16px;
  }

  .main {
    width: 320px;
    height: 509px;
    padding-top: 24px;
    padding-left: 16px;
  }

  .main-image {
    left: 0;
  }
}

/* CSS ПЛАНШЕТЫ */
@media (min-width: 768px) and (max-width: 1120px) {
  .upper-menu {
    width: 768px;
    height: 88px;
  }

  .main {
    width: 768px;
    height: 505px;
    padding-top: 24px;
    padding-left: 24px;
  }

  .page-content {
    display: flex;
    justify-content: space-evenly;
  }

  .description {
    height: 208px;
  }
  
  .main-image {
    position: static;
    width: 360px;
    height: 208px;
  }
}

/* CSS ДЕСКТОПЫ */
@media (min-width: 1121px) {
  .upper-menu {
    display: none;
  }

  .main {
    width: 1121px;
    height: 535px;
    padding-top: 1.5em;
    padding-left: 16px;
  }
}
