@font-face {
  font-family: "TT Lakes Regular";
  src: url(fonts/TTLakes/Regular/TTLakes-Regular.eot);
  src: url(fonts/TTLakes/Regular/TTLakes-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/TTLakes/Regular/TTLakes-Regular.woff) format("woff"),
    url(fonts/TTLakes/Regular/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: "TT Lakes Bold";
  src: url(fonts/TTLakes/Bold/TTLakes-Bold.eot);
  src: url(fonts/TTLakes/Bold/TTLakes-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/TTLakes/Bold/TTLakes-Bold.woff) format("woff"),
    url(fonts/TTLakes/Bold/TTLakes-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
} */

/* @font-face {
  font-family: "TT Lakes Medium";
  src: url(fonts/TTLakes/Medium/TTLakes-Medium.eot);
  src: url(fonts/TTLakes/Medium/TTLakes-Medium.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/TTLakes/Medium/TTLakes-Medium.woff) format("woff"),
    url(fonts/TTLakes/Medium/TTLakes-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
} */

html {
  box-sizing: border-box;
  font-family: "TT Lakes Regular", Times, serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.window {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.window__heading::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #D9FFF5;
}

.window__heading {
    height: 80px;
    vertical-align: middle;
    background-image: linear-gradient(to right, #ffffff00, #FFF);
}

.window__wrapper {
    padding: 16px;
}

.window__wrapper--heading {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #7E7E82;
}

.window__wrapper--toggler {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
}

.window__brands {
    display: flex;
}

.window__brands::before {
    content: "";
    display: block;
    position: absolute;
    right: 0px;
    width: 24px;
    height: 72px;
    background: linear-gradient(
      to right,
      rgba(248, 248, 248, 0),
      /* #F8F8F8 */
      green
    );
  }

.brand-plate {
    display: flex;
    flex-shrink: 0;
    width: 240px;
    height: 72px;
    background-color: #FFF;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
}

.window__toggler-area {
    display: flex;
    justify-content: center;
}

.toggler-dots {
    display: flex;
    gap: 12px;
}

.toggler-dots__dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #DDDDDD;
}

/* CSS ТЕЛЕФОНЫ */
@media (max-width: 767px) {

}

/* CSS ПЛАНШЕТЫ */
@media (min-width: 768px) and (max-width: 1119px) {

}

/* CSS ДЕСКТОПЫ */
@media (min-width: 1120px) {

}
